body{
    background-color: coral;
}
.hd__menu-secondary,
.hd__search form{
    display: none;
}

#hd .hd__wrapper{
    display: flex;
    justify-content: space-between;
}

/* ---------------- */
/* Generals */
/* ---------------- */
.hd__menu,
.hd__more{
    display: flex;
    align-items: flex-end;
}

.hd__menu-link{
    text-decoration: none;
    color: #000000;
}

#hd{
    padding-top: 20px;
    position: relative;
    background: #ffffff;
}
#hd::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 11px;
    background-color: var(--blue-dark);
}
.hd__wrapper{
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
}
/* ---------------- */
/* ---------------- */
/* MENU */
/* ---------------- */
/* ---------------- */
.hd__menu{
    list-style: none;
}
.hd__menu > li{
    padding-right: 26px;
}
.hd__menu > li:last-child{
    padding-right: 0;
}
/* ---------------- */
/* Level 1 */
.hd__item-primary{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.hd__item-primary i{
    color: var(--orange);
    margin-left: 5px;
    transition: .3s;
    transition-property: transform;
}
.hd__menu > li > a{
    padding-bottom: 35px;
    display: block;
}
.hd__menu > li:hover > .hd__menu-secondary{
    transition: .7s;
    display: grid;
    transform: scaleY(1);
    visibility: initial;
    transition-property: transform;
}
.hd__menu > li:hover > .hd__menu-secondary *{
    opacity: 1;
    transition: .7s;
    transition-property: opacity;
}
.hd__menu > li:hover .hd__item-primary i{
    transform: rotateZ(180deg);
}
/* ---------------- */
/* Level 2 */
.hd__menu-secondary{
    display: grid;
    position: absolute;
    transform-origin:top;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #0B3A52;
    padding: 30px 40px 55px;
    list-style: none;    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    transform: scaleY(.5);
    visibility: hidden;
}
.hd__menu-secondary *{
    opacity: 0;
}
#hd__submenu-about{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
}
.hd__item-secondary > i{
    display: none;
}
.hd__menu-icon{
    height: 80px;
    width: auto;
    margin-bottom: 5px;
}
.hd__item-secondary{
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    color: var(--sky-blue);
    
}
/* ---------------- */
/* Level 3 */
.hd__menu-tertiary{
    list-style: none;
}
.hd__menu-secondary a{
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}

#hd__submenu-about > li{
    position: relative;
}
#hd__submenu-about a{
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    transition: .2s;
}
.hd__menu-secondary a:hover{
    color: var(--orange-hover);
}
#hd__submenu-about li > a:hover{
    color: #ffffff;
}
/* .hd__menu-secondary a:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .02);
} */
/* ---------------- */
/* ---------------- */
/* Logo */
/* ---------------- */
/* ---------------- */
#hd__logo img{
    width: 158px;
}


/* ---------------- */
/* ---------------- */
/* Logo */
/* ---------------- */
/* ---------------- */
.hd__more{
    justify-content: baseline;
    padding-bottom: 35px;
}
.hd__more > div{
    margin-right: 30px;
}
.hd__more > div:last-child{
    margin-right: 0;
    margin-left: 10px;
}

/* ---------------- */
/* Contact */
.hd__contact-item{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #000000;
    margin-right: 18px;
    transition: .2s;
}
.hd__contact-item > i{
    color: var(--orange);
    margin-right: 5px;
    transition: .2s;
}
.hd__contact-item:hover{
    color: #000000a1;
}
.hd__contact-item:hover > i{
    color: var(--orange-hover);
}
.hd__contact-btn{
    background: var(--orange);
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 11px 17px;
    transition: .2s;
}
.hd__contact-btn:hover{
    background: var(--orange-hover);
}
/* ---------------- */
/* Contact */
.hd__social-item{
    color: var(--blue-dark);
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
}
.hd__social-item:first-child{
    margin-right: 25px;
    position: relative;
    top: -2.5px;
    font-size: 18px;
}

/* ---------------- */
/* Search */
#hd__icon-search{
    color: var(--blue-dark);
    font-size: 20px;
    line-height: 14px;
    transform: rotateZ(90deg);
}
