body {
	background-color: coral;
}

.hd__menu-secondary,
.hd__search form {
	display: none;
}
/* ---------------- */
/* Generals */
/* ---------------- */
.hd__menu,
.hd__more {
	display: flex;
	align-items: flex-end;
}

.hd__menu-link {
	text-decoration: none;
	color: #000000;
}

#hd {
	padding-top: 20px;
	background: #ffffff;
	position: sticky;
	top: 0;
	transition: .2s;
}
#hd::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 11px;
	background-color: var(--blue-dark);
	z-index: 10000;
}

#hd .hd__topMovile {
	display: none;
}

#hd #hd__wrapper {	
	position: relative;
	transition: 1.2s;
}
#hd #hd__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1289px;
	margin: 0 auto;
	padding-bottom: 7px;
	transition: .5s;
}

.hd__openSearch{
	top: 10% !important;
	opacity: 0 !important;

}
.minimizar{
	padding-top: 0px !important;
}
.minimizar #hd__logo{
	padding-bottom: 18px;
}
.minimizar #hd__logo img {
	height: 57px;
	width: 99px;
}
.minimizar #hd__container{
	max-width: 1235px !important;
}
.minimizar .hd__main{
	height: 82px;
}
.minimizar #hd__container{
	padding-bottom: 0 !important;
}
.minimizar .hd__menu > li > a, .minimizar .hd__more{
	padding-bottom: 25px !important;
	transition: 1.5s;
	transition-delay: 3s;
}
/* ---------------- */
/* ---------------- */
/* MENU */
/* ---------------- */
/* ---------------- */
.hd__menu {
	list-style: none;
}

.hd__menu>li {
	padding-right: 28px;
}
.hd__menu>li:nth-child(3) {
	padding-right: 25px;
}
.hd__menu>li:nth-child(4) {
	padding-right: 25px;
}
.hd__menu>li:last-child {
	padding-right: 0;
}

/* ---------------- */
/* Level 1 */
.hd__item-primary {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.hd__item-primary i {
	color: var(--orange);
	margin-left: 5px;
	transition: .3s;
	transition-property: transform;
}

.hd__menu>li>a {
	padding-bottom: 38px;
	display: block;
	transition: 2s;
}

@media screen and (min-width: 1500px) {
	.hd__menu>li:hover>.hd__menu-secondary {
		transition: .7s;
		display: grid;
		transform: scaleY(1);
		visibility: initial;
		transition-property: transform;
	}

	.hd__menu>li:hover>.hd__menu-secondary * {
		opacity: 1;
		transition: .7s;
		transition-property: opacity;
	}

	.hd__menu>li:hover .hd__item-primary i {
		transform: rotateZ(180deg);
	}
}

/* ---------------- */
/* Level 2 */
.hd__menu-secondary {
	display: grid;
	position: absolute;
	transform-origin: top;
	left: 0;
	right: 0;
	top: 100%;
	background-color: #0B3A52;
	padding: 30px 40px 55px;
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-row-gap: 30px;
	grid-column-gap: 20px;
	transform: scaleY(.5);
	visibility: hidden;
}

.hd__menu-secondary * {
	opacity: 0;
}

#hd__submenu-about {
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	grid-column-gap: 30px;
}

.hd__item-secondary>i {
	display: none;
}

.hd__menu-icon {
	height: 80px;
	width: auto;
	margin-bottom: 5px;
}

.hd__item-secondary {
	font-size: 15px;
	line-height: 28px;
	font-weight: 700;
	color: var(--sky-blue);

}

/* ---------------- */
/* Level 3 */
.hd__menu-tertiary {
	list-style: none;
}

.hd__menu-tertiary .hd__menu-link {
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	transition: .2s;
	transition-property: color;
}

.hd__menu-tertiary .hd__menu-link:hover {
	color: var(--orange-hover);
}

#hd__submenu-about .hd__menu-link {
	font-size: 15px;
	line-height: 28px;
	font-weight: 700;
}

#hd__submenu-about .hd__menu-link:hover:hover {
	color: #ffffff;
}

/* ---------------- */
/* ---------------- */
/* Logo */
/* ---------------- */
/* ---------------- */
#hd__logo{
	padding-right:8px;
	transition: .8s;
	height: 91px;
	display: flex;
	align-items: flex-end;
}
#hd__logo img {
	height: 88px;
  width: 153px;
  padding-top: 3px;
	padding-left: 3px;
	transition: .5s;
}


/* ---------------- */
/* ---------------- */
/* More */
/* ---------------- */
/* ---------------- */
.hd__more {
	padding-bottom: 36px;
	transition: 2s;
}

.hd__more>div {
	margin-right: 31px;
  padding-bottom: 1px;
}

.hd__more>div:last-child {
	margin-right: 0;
	margin-left: 10px;
}

/* ---------------- */
/* Contact */
.hd__contact-item {
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #000000;
	margin-right: 21.8px;
	transition: .2s;
	transition-property: color;
	text-transform: uppercase;
}
.hd__contact-item:nth-child(2){
	margin-right: 20px;
}
.hd__contact-item>i {
	color: var(--orange);
	margin-right: 4px;
	transition: .2s;
	transition-property: color;
	font-size: 12.5px;
}

.hd__contact-item:hover {
	color: #000000a1;
}

.hd__contact-item:hover>i {
	color: var(--orange-hover);
}

.hd__contact-btn {
	background: var(--orange);
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding: 11px 17.5px 12px;
	transition: .2s;
	text-transform: uppercase;
}

.hd__contact-btn:hover {
	background: var(--orange-hover);
}

/* ---------------- */
/* social */
.hd__social{
	margin-right: 24px !important;
}
.hd__social-item {
	color: var(--blue-dark);
	font-size: 20px;
	font-weight: 400;
	line-height: 14px;
}

.hd__social-item:first-child {
	margin-right: 25px;
	position: relative;
	top: -2.5px;
	font-size: 15px;
}

/* ---------------- */
/* Search */
#hd__search input {
	display: none;
}

#hd__icon-search {
	color: var(--blue-dark);
	font-size: 20px;
	line-height: 14px;
	transform: rotateZ(90deg);
}

#hd__search-desktop{
	background: transparent;
	position: absolute;
	top: -90px;
	left: 0;
	right: 0;
	transition: .7s;
	z-index: 2000;
}
.hd__search-desktop-wrapper{
	width: 100%;
	max-width: 1238px;
	margin:0 auto;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
#hd__icon-close {
	right: 0;
  top: 30px;
	font-size: 25px;
	font-weight: 600;
}
#hd__search-desktop input{
	width: 95.5%;
  border: none;
  background: transparent;
	height: 90px;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}
#hd__search-desktop input::placeholder{
	color: #000000;
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}
#hd__search-desktop input:focus{
	outline: none;
}
#hd__search-desktop input::-ms-clear, #hd__search-desktop input::-webkit-search-cancel-button{
  display: none;
}

/* --------------------- */
/* --------------------- */
/* Animation Open Search*/
.hd__show-search{
	top: 20px !important;
}
.hd__hide-container{
	animation: hd_animation_hide .7s forwards;
}
.hd__show-container{
	animation: hd_animation_show .7s forwards;
}
@keyframes hd_animation_hide{
	0%{
		opacity: 1;
		top: 0;
	}
	50%{
		opacity: 0.1;
	}
	100%{
		opacity: 0;
		top: 20px;
		display: none;
	}
}
@keyframes hd_animation_show{
	0%{
		opacity: 0;
		top: 20px;
		display: block;
	}
	100%{
		opacity: 1;
		top: 0;
		display: block;
	}
}



@media screen and (max-width: 1499px) {
	#hd {
		padding-top: 0;
		background-color: #0B3A52;
		border-bottom: 1px solid;
		z-index: 1000;
		font-family: "Open Sans",
			Arial,
			sans-serif !important;
	}

	#hd::after {
		display: none;
	}

	#hd__wrapper{
		display: none;
		background-color: #0B3A52;
		position: absolute !important;
		top: 100% !important;
		right: 0;
		height: calc(100vh - 70px);
		max-height: calc(100vh - 70px);
		width: 100%;
		max-width: 1025px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-left: 2px;
		z-index: 1000;
	}
	#hd__container{
		display: flex;
		flex-direction: column;
		justify-content: initial !important;
		overflow-x: hidden;
		height: calc(100vh - 70px);
		max-height: calc(100vh - 70px);
	}
	/* ----------- */
	/* ----------- */
	/* Animation */
	.show_header {
		display: block !important;
	}

	.show_header ~ .hd__mask{
		position: absolute;
		background-color: #000000;
		left: 0;
		height: calc(100vh - 70px);
		width: 100%;
		z-index: 0;
	}
	/* Animation */
	/* ----------- */
	/* ----------- */

	#hd__container .hd__menu>li>a,
	#hd__container .hd__more a {
		padding: 12.7px 14px;
	}

	#hd__container .hd__more .hd__contact-btn {
		margin: 2px 14px 0;
	}

	/* ---------------- */
	/* ---------------- */
	/* MENU */
	/* ---------------- */
	/* ---------------- */
	.hd__menu {
		flex-flow: column;
		justify-content: flex-start;
		background-color: #0B3A52;
	}

	.hd__menu>li {
		padding-right: 0;
		display: block;
		width: 100%;
	}

	/* ---------------- */
	/* Level 1 */
	.hd__menu>li:nth-child(2) {
    padding-right: 0 !important;
}
	.hd__menu>li {
		background-color: #0B3A52;
		position: relative;
		z-index: 10;
	}

	.hd__menu>li>.hd__menu-link {
		padding-bottom: 0;
	}

	.hd__item-primary {
		color: #ffffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: unset;
		font-size: 15px;
		white-space: nowrap;
		line-height: 24px;
	}

	.hd__item-primary i {
		color: #ffffff;
		margin-left: 0;
		font-size: 20px;
		transform: rotateZ(-90deg);
		transition: .7s;
	}

	.hd__label-menu-active .hd__item-primary i {
		transform: rotateZ(0deg);
	}

	/* ---------------- */
	/* Level 2 */
	.hd__menu-secondary * {
		opacity: 1;
	}

	.hd__menu-secondary {
		display: none;
		flex-flow: column;
		position: relative;
		padding: 0;
		visibility: initial;
		transform: scaleY(1);
		top: 0;
	}

	.hd__menu-icon {
		width: initial;
		height: 80px;
		margin-bottom: 30px;
	}

	.hd__menu-secondary>li {
		padding: 14px 13px 14px 22.9px;
		position: relative;
		z-index: 10;
		background-color: #0B3A52;
	}

	.hd__menu-secondary li .hd__menu-link {
		display: block;
		position: relative;
	}

	.hd__item-secondary {
		padding-left: 20px;
		margin-bottom: 50px;
		white-space: nowrap;
		font-size: 15px;
		font-weight: 400;
	}

	.hd__item-secondary i {
		display: inline;
		color: #ffffff;
		position: absolute;
		right: 18px;
		top: 8px;
		font-size: 20px;
		transition: .4s;
	}

	.hd__label-subMenu-active .hd__item-secondary i {
		transform: rotateZ(90deg);
	}

	/* ---------------- */
	/* Level 3 */
	.hd__menu-tertiary {
		display: none;
		position: relative;
		z-index: 0;
	}


	#hd__submenu-about .hd__menu-tertiary {
		display: block;
	}

	.hd__menu-tertiary a {
		padding: 14.5px 14px;
		font-size: 15px;
		line-height: 24px;
	}

	/* ---------------- */
	/* ---------------- */
	/* Logo */
	/* ---------------- */
	/* ---------------- */
	#hd__logo {
		display: none;
	}

	/* ---------------- */
	/* ---------------- */
	/* More */
	/* ---------------- */
	/* ---------------- */
	.hd__more {
		flex-flow: column;
		justify-content: initial;
		padding-bottom: 0;
		background-color: #0B3A52;
		position: relative;
		z-index: 10;
		white-space: nowrap;
		width: inherit;
		align-items: flex-start;
	}

	.hd__more>div {
		margin-right: 0;
		margin-bottom: 14.5px;
	}

	.hd__more>div:last-child {
		margin-left: 0;
	}

	/* ---------------- */
	/* Contact */
	.hd__contact {
		width: 100%;
	}

	.hd__contact-item {
		display: block;
		color: #ffffff;
		width: 100%;
		font-size: 15px;
		line-height: 24px;
		text-transform: capitalize;
		font-weight: 400;
	}

	.hd__contact-item>i {
		font-size: 12px;
	}

	.hd__contact-btn {
		display: inline-block;
		font-size: 15px;
		line-height: 24px;
		padding: 12px 17px !important;
		text-transform: initial;
	}


	/* ---------------- */
	/* Social */
	.hd__social {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.hd__social-item {
		display: inline-flex;
		text-decoration: none;
		color: #ffffff;
	}

	/* ---------------- */
	/* Search */
	#hd__search {
		width: inherit;
		padding: 0 14px;
		position: relative;
	}

	#hd__icon-search {
		position: absolute;
		right: 30px;
		top: 12px;
		transform: rotateZ(0deg);
		font-size: 15px;
	}

	
	#hd__search input{
		padding: 5px !important;
		max-width: 100%;
		height: 35px;
		width: 100%;
		display: block;
		border: none;
		font-size: 14px;
		font-weight: 400;
		color: #000000;
		font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	}
	#hd__search input::placeholder{
		color: #000000;
		font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	}
	#hd__search input:focus{
		outline: none;
	}

	/* ---------------- */
	/* ---------------- */
	/* hd__topMovile */
	/* ---------------- */
	/* ---------------- */
	.hd__topMovile {
		display: block !important;
		position: relative;
		z-index: 2000;
		background-color: #0B3A52;
		outline: 1px solid #000000;
	}
	.hd__topMovile-wrapper{
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		width: 95.9%;
		margin: 0 auto;
		height: 70px;
	}

	.hd__topMovile a {
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		color: #ffffff;
		text-decoration: none;
		font-family: "Open Sans", Arial, sans-serif;
		padding-bottom: 5px;
	}

	#hd__btnClose {
		width: 30px;
		height: 33px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#hd__btnClose span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #ffffff;
		border-radius: 5px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	#hd__btnClose span:nth-child(1) {
		top: 0px;
	}

	#hd__btnClose span:nth-child(2),
	#hd__btnClose span:nth-child(3) {
		top: 13px;
	}

	#hd__btnClose span:nth-child(4) {
		top: 27px;
	}

	.change_style span:nth-child(1) {
		top: 18px !important;
		width: 0% !important;
		left: 50% !important;
	}

	.change_style span:nth-child(2) {
		transform: rotate(45deg) !important;
	}

	.change_style span:nth-child(3) {
		transform: rotate(-45deg) !important;
	}

	.change_style span:nth-child(4) {
		top: 18px !important;
		width: 0% !important;
		left: 50% !important;
	}

}

@media screen and (max-width: 1025px) {

	#hd__container .hd__menu>li>a,
	#hd__container .hd__more a {
		padding: 3px 12px;
	}

	/* ---------------- */
	/* ---------------- */
	/* MENU */
	/* ---------------- */
	/* ---------------- */

	/* ---------------- */
	/* Level 2 */
	.hd__menu-secondary>li {
		padding: 14px 13px 0 22.9px;
		position: relative;
		z-index: 10;
		background-color: #0B3A52;
	}

	.hd__menu-icon {
		display: none;
	}

	.hd__item-secondary {
		margin-bottom: 0;
		color: #ffffff;
	}

	/* ---------------- */
	/* Level 3 */
	.hd__menu-tertiary a {
		padding: 3px 14px 3px 41px;
	}

	.hd__more>div {
		padding-top: 3px;
	}
	#hd__container .hd__more .hd__contact-btn {
    margin: 6px 14px 0;
	}
}